# Aggregating DataFrames

In [1]:
import pandas as pd

In [57]:
sales = pd.read_csv("../data/walmart_sales.csv")
sales.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
2,2,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
3,3,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
4,4,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

## Summary statistics

In [4]:
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales['weekly_sales'].mean())

# Print the median of weekly_sales
print(sales['weekly_sales'].median())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           2  2010-02-05      50605.27       False
2           2      1    A           3  2010-02-05      13740.12       False
3           3      1    A           4  2010-02-05      39954.04       False
4           4      1    A           5  2010-02-05      32229.38       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       5.727778              0.679451         8.106
2       5.727778              0.679451         8.106
3       5.727778              0.679451         8.106
4       5.727778              0.679451         8.106
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413119 entries, 0 to 413118
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            413119 non-null  int64
 1   store                 413119 non-null  int64
 2   type                  413119 non-null  object
 3   department            413119 non-null  int64
 4   date                  413119 non-null  object
 5   weekly_sales          413119 non-null  float64
 6   is_holiday            413119 non-null  bool
 7   temperature_c         413119 non-null  float64
 8   fuel_price_usd_per_l  413119 non-null  float64
 9   unemployment          413119 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 28.8+ MB
None
16094.726811185154
7682.47

In [5]:
# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

2012-10-26
2010-02-05

In [7]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

15.299999999999994

In [9]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

temperature_c           15.300000
fuel_price_usd_per_l     0.211866
unemployment             1.672000
dtype: float64

In [19]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr             15.30              0.211866         1.672
median          16.75              0.911922         7.852

In [24]:
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values(by='date', ascending=True)

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales_1_1['weekly_sales'].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

             date  weekly_sales  cum_weekly_sales  cum_max_sales
0      2010-02-05      24924.50          24924.50       24924.50
73     2010-02-12      46039.49          70963.99       46039.49
145    2010-02-19      41595.55         112559.54       46039.49
218    2010-02-26      19403.54         131963.08       46039.49
290    2010-03-05      21827.90         153790.98       46039.49
...           ...           ...               ...            ...
9883   2012-09-28      18947.81        3123160.62       57592.12
9956   2012-10-05      21904.47        3145065.09       57592.12
10028  2012-10-12      22764.01        3167829.10       57592.12
10101  2012-10-19      24185.27        3192014.37       57592.12
10172  2012-10-26      27390.81        3219405.18       57592.12

[143 rows x 4 columns]

## Counting

In [28]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=['store', 'type'])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=['store', 'department'])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday'] == True].drop_duplicates(subset=['date'])

# Print date col of holiday_dates
print(holiday_dates['date'])

       Unnamed: 0  store type  department        date  weekly_sales  \
0               0      1    A           1  2010-02-05      24924.50
10244       10244      2    A           1  2010-02-05      35034.06
20482       20482      3    B           1  2010-02-05       6453.58
29518       29518      4    A           1  2010-02-05      38724.42
39790       39790      5    B           1  2010-02-05       9323.89

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0           False       5.727778              0.679451         8.106
10244       False       4.550000              0.679451         8.324
20482       False       7.616667              0.679451         7.368
29518       False       6.533333              0.686319         8.623
39790       False       4.277778              0.679451         6.566
   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           2  2010-02-05      50605.27       False
2           2      1    A           3  2010-02-05      13740.12       False
3           3      1    A           4  2010-02-05      39954.04       False
4           4      1    A           5  2010-02-05      32229.38       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       5.727778              0.679451         8.106
2       5.727778              0.679451         8.106
3       5.727778              0.679451         8.106
4       5.727778              0.679451         8.106
73      2010-02-12
2218    2010-09-10
3014    2010-11-26
3372    2010-12-31
3800    2011-02-11
5940    2011-09-09
6731    2011-11-25
7096    2011-12-30
7527    2012-02-10
9667    2012-09-07
Name: date, dtype: object

In [32]:
# Count the number of stores of each type
store_counts = store_types['type'].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(normalize=True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = store_depts['department'].value_counts(sort=True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    22
B    17
C     6
Name: type, dtype: int64
A    0.488889
B    0.377778
C    0.133333
Name: type, dtype: float64
1     45
6     45
9     45
8     45
7     45
      ..
37    20
50    14
39     5
43     5
65     1
Name: department, Length: 81, dtype: int64
1     0.013778
6     0.013778
9     0.013778
8     0.013778
7     0.013778
        ...
37    0.006124
50    0.004287
39    0.001531
43    0.001531
65    0.000306
Name: department, Length: 81, dtype: float64

## Grouped summary statistics

In [37]:
# Calc total weekly sales
sales_all = sales['weekly_sales'].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales['type'] == "A"]['weekly_sales'].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales['type'] == "B"]['weekly_sales'].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales['type'] == "C"]['weekly_sales'].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.65137469 0.28763851 0.0609868 ]

In [39]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales['weekly_sales'])
print(sales_propn_by_type)

type
A    0.651375
B    0.287639
C    0.060987
Name: weekly_sales, dtype: float64

In [41]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type", 'is_holiday'])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         4.007612e+09
      True          3.234028e+08
B     False         1.765411e+09
      True          1.471081e+08
C     False         3.772478e+08
      True          2.825570e+07
Name: weekly_sales, dtype: float64

In [43]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, np.mean, np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

         amin       amax          mean    median
type
A    -4988.94  474330.10  20099.568043  10105.17
B    -3924.00  693099.36  12335.331875   6269.02
C     -379.00  112152.35   9519.532538   1149.67
     unemployment                          fuel_price_usd_per_l            \
             amin    amax      mean median                 amin      amax
type
A           3.879  14.313  7.791595  7.818             0.653034  1.180321
B           4.125  14.313  7.889666  7.806             0.664129  1.180321
C           5.217  14.313  8.934350  8.300             0.664129  1.180321


          mean    median
type
A     0.883391  0.902676
B     0.892997  0.922225
C     0.888848  0.902676

## Pivot tables

In [46]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values='weekly_sales', index='type')

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A     20099.568043
B     12335.331875
C      9519.532538

In [48]:
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values='weekly_sales', index='type', aggfunc=[np.mean, np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     20099.568043     10105.17
B     12335.331875      6269.02
C      9519.532538      1149.67

In [50]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values='weekly_sales', index='type', columns='is_holiday')

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False         True
type
A           20008.746759  21297.517824
B           12248.741339  13478.844240
C            9518.528116   9532.963131

In [55]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values='weekly_sales', index='department', columns='type', fill_value=0))

type                   A             B             C
department
1           22956.887886  17990.876158   8951.733462
2           51994.674873  43051.996919  14424.851713
3           13881.033137  12965.414311    820.276818
4           32973.814075  21259.895804  13669.370396
5           26803.448045  21184.602916    767.600774
...                  ...           ...           ...
95          97094.026043  40580.306862  50641.564872
96          19900.943552   4752.674874  15766.025431
97          22093.807101   3543.243304  13419.542809
98          10979.816195    299.951644   5479.758054
99            431.443064     25.716667      8.330952

[81 rows x 3 columns]

In [56]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0, margins=True))

type                   A             B             C           All
department
1           22956.887886  17990.876158   8951.733462  19213.485088
2           51994.674873  43051.996919  14424.851713  43607.020113
3           13881.033137  12965.414311    820.276818  11793.698516
4           32973.814075  21259.895804  13669.370396  25974.630238
5           26803.448045  21184.602916    767.600774  21365.583515
...                  ...           ...           ...           ...
96          19900.943552   4752.674874  15766.025431  15217.211505
97          22093.807101   3543.243304  13419.542809  14437.120839
98          10979.816195    299.951644   5479.758054   6973.013875
99            431.443064     25.716667      8.330952    415.487065
All         20099.568043  12335.331875   9519.532538  16094.726811

[82 rows x 4 columns]