The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [2]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!

Analyze Nobel Prize winner data and identify patterns by answering the following questions:

1. What is the most commonly awarded gender and birth country? Storing the string answers as top_gender and top_country.
1. What decade had the highest proportion of US-born winners? Store this as an integer called max_decade_usa.
1. What decade and category pair had the highest proportion of female laureates? Store this as a dictionary called max_female_dict where the decade is the key and the category is the value.
1. Who was the first woman to receive a Nobel Prize, and in what category? Save your string answers as first_woman_name and first_woman_category.
1. Which individuals or organizations have won multiple Nobel Prizes throughout the years? Store the full names in a list named repeat_list.

In [32]:
df = pd.read_csv('data/nobel.csv', parse_dates=[])
df.sample(2)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
22,1904,Literature,The Nobel Prize in Literature 1904,"""in recognition of the numerous and brilliant ...",1/2,574,Individual,José Echegaray y Eizaguirre,1832-04-19,Madrid,Spain,Male,NaN,NaN,NaN,1916-09-04,Madrid,Spain
495,1979,Chemistry,The Nobel Prize in Chemistry 1979,"""for their development of the use of boron- an...",1/2,253,Individual,Georg Wittig,1897-06-16,Berlin,Germany,Male,University of Heidelberg,Heidelberg,Federal Republic of Germany,1987-08-26,Heidelberg,West Germany (Germany)

In [20]:
# What is the most commonly awarded gender and birth country? Storing the string answers as top_gender and top_country.
top_country = df['birth_country'].value_counts().reset_index().iloc[0]['birth_country']
print(top_country)
top_gender = df['sex'].value_counts().reset_index().iloc[0]['sex']
print(top_gender)

United States of America
Male

In [98]:
# What decade had the highest proportion of US-born winners? Store this as an integer called max_decade_usa.
df['usa'] = (df['birth_country'] == 'United States of America')

df['prize_decade'] = np.floor(df['year']/10) * 10
max_decade_usa = df.groupby('prize_decade')['usa'].mean().sort_values(ascending=False).index[0]

print(max_decade_usa)

2000.0

In [115]:
# What decade and category pair had the highest proportion of female laureates? Store this as a dictionary called max_female_dict where the decade is the key and the category is the value.
df['prize_decade'] = np.floor(df['year']/10) * 10
df['female'] = (df['sex'] == 'Female')
df_female = df.groupby(['prize_decade', 'category'], as_index=False)['female'].mean().sort_values(by='female', ascending=False)

max_female_dict = {df_female['prize_decade'].iloc[0]: df_female['category'].iloc[0]}
print(max_female_dict)

{2020.0: 'Literature'}

In [88]:
# Who was the first woman to receive a Nobel Prize, and in what category? Save your string answers as first_woman_name and first_woman_category.
first_woman_name, first_woman_category = df[df['sex'] == 'Female'].sort_values(by='year')[['full_name', 'category']].iloc[0]
print(first_woman_name, first_woman_category)

Marie Curie, née Sklodowska Physics

In [94]:
# Which individuals or organizations have won multiple Nobel Prizes throughout the years? Store the full names in a list named repeat_list.
s = df['full_name'].value_counts()
repeat_list = list(s[s>1].index)